<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/abcjs/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/abcjs/styles.css"/>

	<title>Notas por Tom</title>

</head>
<body>
    <header>
        <img src="/abcjs/abcjs_comp_extended_08.svg" alt="abcjs logo">
        <h1>Notas por Tom - Partitura</h1>
    </header>
    <div class="container">
        <main>
            <p style="text-align: center !important;">Para usar esta plataforma consultar <a href="https://github.com/coderbahgual/partitura-web" target="_blank">partitura-web</a>.</p>
        </main>
    </div>
</body>
</html>
