<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/abcjs/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/abcjs/styles.css"/>

	<title>Notas por Tom</title>
	<script src="/abcjs/abcjs-basic.js" type="text/javascript"></script>
	<script type="text/javascript">
        /*ex.:
        X: 0
        T: PARABENS
        M: 2/4
        L: 2/8
        R: feliz
        K: C
        |GGAG cB GGAG dc ee g e c B A ffecdcc^c ||
        */
		var abc = "T: Notas por Tom - Arduino \nL: 1/4\n";

		function load() {
			ABCJS.renderAbc("paper", abc);
		}
	</script>
    <style>
        @media print {
          header, footer, nav button, main section {
            display: none;
          }
          main section.output {
            display: block;
          }
            [fill="#ff0000"] {
                fill: currentColor;
            }
        }
        #paper {
            overflow: visible !important;
        }
    </style>
</head>
<body onload="load()">
    <header>
        <img src="/abcjs/abcjs_comp_extended_08.svg" alt="abcjs logo">
        <h1>Notas por Tom - Partitura</h1>
    </header>
    <div class="container">
        <main>
            <div id="paper"></div>
            <section class="output">
                <nav>
                  <button onclick="window.print()">Imprimir</button>
                </nav>
            </section>
        </main>
    </div>
    <input type="hidden" id="n" value="<%=nota%>">
</body>
<script>
    let nota = document.getElementById('n').value;
    let cont = 1;
    setInterval(() => {
        console.log(nota);
        // console.log(cont);
        if (nota !== "") {
            if ((cont%4 == 0) && (cont != 20)) {
                abc+=nota+"|";
                cont++;
            } else if (cont == 20) {
                abc+=nota+"|\n";
                cont=1;
            } else {
                abc+=nota;
                cont++;
            }
            load();
        }
    }, 600);
</script>
</html>
