@font-face {
  font-family: LemonTuesday;
  src: url("../fonts/LemonTuesday.otf") format("opentype");
}

@font-face {
  font-family: LeagueSpartanBold;
  src: url("../fonts/LeagueSpartanBold.otf") format("opentype");
}

@font-face {
  font-family: SanchezRegular;
  src: url("../fonts/SanchezRegular.otf") format("opentype");
}

@font-face {
  font-family: Arimo;
  src: url("../fonts/ArimoRegular.ttf") format("opentype");
}

@font-face {
  font-family: OpenSansRegular;
  src: url("../fonts/OpenSansRegular.ttf") format("opentype");
}

body {
  background-color: transparent;
  margin: 0;
}

main {
  font-family: OpenSansRegular;
  line-height: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.animation {
  width: 20em;
  height: 4em;
  position: absolute;
  right: 6px;
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.LemonTuesday {
  font-family: LemonTuesday;
}

.Arimo {
  font-family: Arimo;
}

.green {
  color: #296849;
}

.gray {
  color: #afb6af;
}

.white {
  color: white;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.mask {
  overflow: hidden;
  position: relative;
}

/*********************
* Animation 4
*********************/
@-webkit-keyframes animation-4-stroke {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  30% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes animation-4-stroke {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  30% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes animation-4-text {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes animation-4-text {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

#animation-4 > div {
  display: inline-block;
  vertical-align: middle;
}

#animation-4 > div div {
  -webkit-animation: 4s ease-out infinite alternate both;
          animation: 4s ease-out infinite alternate both;
}

#animation-4 > div:first-child {
  font-size: 30px;
  padding-top: 4px;
}

#animation-4 > div:first-child div {
  -webkit-animation-name: animation-4-text;
          animation-name: animation-4-text;
}

#animation-4 > div:last-child div {
  width: .38em;
  height: 2.4em;
  background-color: #296849;
  -webkit-animation-name: animation-4-stroke;
          animation-name: animation-4-stroke;
}
/*# sourceMappingURL=main.css.map */